
.page3 h1 {

    text-align: center;
    margin-bottom: 1cm;
}

.page3 img {

    width: 450px;
    height: 450px;
    border: 5px solid rgb(127, 133, 192);
    margin: 1cm
   
}

.page3 img:hover {
    transform: scale(1.05);}

    .page4  {
        background-color: rgb(42, 195, 255);
        text-align: center;
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .page4 input, select {
        background-color: rgb(42, 195, 255);
        border-radius: 3px;
        font-size: 25px;
    }
    
    .page4 #btn {
        background-color: rgb(42, 195, 255);
        font-size: 24px;
        margin: 7,8 
        
    }
    .page4 #btn {
        background-color: rgb(42, 195, 255);
        font-size: 24px;
        margin: 7,8 }

        .page5 #tak {
            border: 2px solid black;
            width: 250px;
            margin-left: 42%;
            
            
        }
        
        .page5 h1{
            text-align: center;
            font-size: 40px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-bottom: 37,8;
        }
        
        .page5 #nie {
           
            margin-left: 43%;
            
            
        }
            
       
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page1 a:hover {
    color: #7ebef3; 
}

.page1 p {
    text-align: justify;
    margin-bottom: 38px;
    margin-top: 38px;
}

.page1 nav ul {
    margin: 30px;
    padding: 0;
    display: none;
    text-align: justify;
}

.page1 content {
    padding: 32px;
}

.page1 title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 32px;
    color: green
}

.page1 columns {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-top: 32px;
}

.page1 column {
    flex: 1;
    background-color: #f4f4f4;
    padding: 16px;
    border-radius: 8px;
}
.page1 column h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.page1 links {
    margin-top: 32px;
}

.page1 links a {
    display: block;
    margin: 10px 0;
    font-size: 17.6px;
}

@media screen and (max-width: 768px) {
    .columns {
        flex-direction: column;
    }

    .column {
        margin-bottom: 24px; 
    }
}

@media screen and (max-width: 480px) {
    header {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .title {
        font-size: 32px; 
    }

    .intro-text {
        font-size: 14.4px;
    }
}

.page2 table {
    border-collapse: collapse;
    margin: 20px;
}

.page2 th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.page2 th {
    background-color: black;
    color: white
}