.page3 h1 {

    text-align: center;
    margin-bottom: 1cm;
}

.page3 img {

    width: 450px;
    height: 450px;
    border: 5px solid rgb(127, 133, 192);
    margin: 1cm
   
}

.page3 img:hover {
    transform: scale(1.05);}

    .page4  {
        background-color: rgb(42, 195, 255);
        text-align: center;
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .page4 input, select {
        background-color: rgb(42, 195, 255);
        border-radius: 3px;
        font-size: 25px;
    }
    
    .page4 #btn {
        background-color: rgb(42, 195, 255);
        font-size: 24px;
        margin: 7,8 
        
    }
    .page4 #btn {
        background-color: rgb(42, 195, 255);
        font-size: 24px;
        margin: 7,8 }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    color: #7f30e7; 
}

p {
    text-align: justify;
    margin-bottom: 24px;
}

nav ul {
    margin: 30px;
    padding: 0;
    display: block;
    text-align: justify;
}

.content {
    padding: 32px;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 32px;
    color: green
}

.columns {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-top: 32px;
}

.column {
    flex: 1;
    background-color: #f4f4f4;
    padding: 16px;
    border-radius: 8px;
}
.column h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.links {
    margin-top: 32px;
}

.links a {
    display: block;
    margin: 10px 0;
    font-size: 17.6px;
}

@media screen and (max-width: 768px) {
    .columns {
        flex-direction: column;
    }

    .column {
        margin-bottom: 24px; 
    }
}

@media screen and (max-width: 480px) {
    header {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .title {
        font-size: 32px; 
    }

    .intro-text {
        font-size: 14.4px;
    }
}
