.page1 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page1 a:hover {
    color: #7ebef3; 
}

.page1 p {
    text-align: justify;
    margin-bottom: 38px;
    margin-top: 38px;
}

.page1 nav ul {
    margin: 30px;
    padding: 0;
    display: none;
    text-align: justify;
}

.page1 content {
    padding: 32px;
}

.page1 title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 32px;
    color: green
}

.page1 columns {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-top: 32px;
}

.page1 column {
    flex: 1;
    background-color: #f4f4f4;
    padding: 16px;
    border-radius: 8px;
}
.page1 column h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.page1 links {
    margin-top: 32px;
}

.page1 links a {
    display: block;
    margin: 10px 0;
    font-size: 17.6px;
}

@media screen and (max-width: 768px) {
    .columns {
        flex-direction: column;
    }

    .column {
        margin-bottom: 24px; 
    }
}

@media screen and (max-width: 480px) {
    header {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .title {
        font-size: 32px; 
    }

    .intro-text {
        font-size: 14.4px;
    }
}